*{
    font-family: "hind-siliguri-regular", sans-serif;
}

.hind-siliguri-light {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hind-siliguri-medium {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hind-siliguri-semibold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hind-siliguri-bold {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mahlo_red {
    color: rgb(190, 58, 58);
    //background-color: rgb(190, 58, 58);
}

.food_picture {
    width: 170px;
    height: 145px;
    object-fit: contain;

}

.loginSVG{
    min-height: 100%;
    min-width: 100%;
}


.mkiosk{
    width: 200px;
    height: 100px;
}

.login_bg{
    background-color: rgb(238, 238, 238);
}

div.card_fit{
    width: 200px;
    height: 300px;
    object-fit: fill;
    text-overflow: ellipsis;
}