*{
    font-family: "Roboto Thin";
}

.mahlo_red {
    color: rgb(190, 58, 58);
    bg-color: rgb(190, 58, 58);
    text-color: rgb(190, 58, 58);
}

.food_picture {
    width: 170px;
    height: 145px;
    object-fit: contain;

}

div.card_fit{
    width: 200px;
    height: 200px;
    object-fit: fill;
    text-overflow: ellipsis;
}